@charset "UTF-8";
/* -------------------------------
color
----------------------------- */
/* -------------------------------
inner幅
----------------------------- */
/* -------------------------------
mixin
----------------------------- */
/* -------------------------------
common
----------------------------- */
@media screen and (max-width: 767px) {
  .is-pc {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none !important;
  }
}

body {
  font-size: 16px;
  font-family: 'ヒラギノ明朝 ProN', serif;
  font-weight: 300;
  color: #333333;
  line-height: 1.6875;
  background-color: #FFFFFF;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  color: inherit;
}

.inner {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  height: inherit;
}

@media screen and (max-width: 767px) {
  .inner {
    max-width: 100%;
    padding: 0 15px;
  }
}

/* -------------------------------
header
----------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  background-color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__logo a img {
  width: 120px;
}

.header__list {
  display: flex;
  margin-left: auto;
}

.header__list li:not(:first-child) {
  margin-left: 48px;
}

.header-item-link {
  display: block;
  line-height: 70px;
  height: 70px;
  letter-spacing: .1em;
  transition: all 0.3s ease 0s;
}

.header-item-link:hover {
  color: #3EA1D1;
}

/* -------------------------------
drawer
----------------------------- */
.drawer-icon {
  position: fixed;
  right: 15px;
  top: 22px;
  z-index: 205;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active .drawer-icon__bar1 {
  transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  transform: rotate(45deg);
  top: 8px;
}

.drawer-icon__bars {
  width: 30px;
  height: 18px;
  position: relative;
}

.drawer-icon__bar1, .drawer-icon__bar2, .drawer-icon__bar3 {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3EA1D1;
  top: 0;
  left: 0;
  transition: transform .3s ease 0s;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  transform: translateX(105%);
  width: 270px;
  height: 100%;
  background-color: #3EA1D1;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 204;
  padding: 45px 15px;
  display: none;
  transition: transform 0.5s ease 0s;
}

@media screen and (max-width: 767px) {
  .drawer-content {
    display: block;
  }
}

.drawer-content.is-active {
  transform: translateX(0);
}

.drawer-content__item {
  text-align: right;
}

.drawer-content__item:not(:first-child) {
  margin-top: 40px;
}

.drawer-content__item a {
  display: block;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: calc(1.8em / 1000);
}

.drawer-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 203;
  display: none;
}

.drawer-bg.is-active {
  display: block;
}

/* -------------------------------
top
----------------------------- */
.top {
  margin-top: 70px;
}

@media screen and (max-width: 767px) {
  .top {
    margin-top: 60px;
  }
}

.top__inner {
  position: relative;
}

@media screen and (min-width: 768px) {
  .top__img {
    background: url("../img/top.png") top right/82.5% no-repeat;
    padding-top: calc(660 / 1200 * 100%);
  }
}

@media screen and (max-width: 767px) {
  .top__img {
    width: 100%;
    background: url("../img/SP/top.png") no-repeat center center/cover;
    padding-top: 120%;
  }
}

@media screen and (min-width: 768px) {
  .top__box {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #FFFFFF;
    padding: 90px 40px;
  }
}

@media screen and (max-width: 767px) {
  .top__box {
    padding-top: 40px;
  }
}

.top__ttl {
  font-size: 26px;
  line-height: 1.69231;
  font-weight: 600;
  margin-bottom: 18px;
}

/* -------------------------------
section共通
----------------------------- */
.section {
  padding-top: 160px;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 96px;
  }
}

.section-title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 14px;
  line-height: 1;
  position: relative;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 1px;
  background-color: #3EA1D1;
}

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 46px;
  text-align: center;
  width: 157px;
  padding: 10px 0;
  background-color: #FFFFFF;
  border: 1px solid #3EA1D1;
  color: #3EA1D1;
  font-size: 14px;
  letter-spacing: .1em;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #3EA1D1;
  color: #FFFFFF;
}

/* -------------------------------
concept
----------------------------- */
.concept__container {
  margin-top: 64px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .concept__container {
    margin-top: 48px;
    display: block;
  }
}

.concept__img {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .concept__img {
    width: 100%;
  }
}

.concept__content {
  width: 50%;
  padding-left: 6.7vw;
}

@media screen and (max-width: 767px) {
  .concept__content {
    padding-left: 0;
    width: 100%;
    margin-top: 40px;
  }
}

.concept__subttl {
  font-size: 20px;
  font-weight: 600;
  line-height: 34 / 20;
}

.concept__text {
  margin-top: 3vw;
}

@media screen and (max-width: 767px) {
  .concept__text {
    margin-top: 30px;
  }
}

/* -------------------------------
feature
----------------------------- */
.feature__items {
  display: flex;
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .feature__items {
    display: block;
    margin-top: 48px;
  }
}

.feature__item {
  width: calc(33.333% - 90px * 2 / 3);
  max-width: 340px;
  box-shadow: 3px 3px 15px #60606029;
}

.feature__item:not(:first-child) {
  margin-left: 90px;
}

@media screen and (max-width: 767px) {
  .feature__item:not(:first-child) {
    margin-left: auto;
    margin-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .feature__item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.feature-item-link {
  display: block;
}

.feature-item-link:hover .feature__img img {
  transform: scale(1.1);
}

.feature__img {
  width: 100%;
  overflow: hidden;
}

.feature__img img {
  transition: all 0.3s ease 0s;
}

.feature__content {
  width: 100%;
  padding: 28px 0;
  background-color: #FFFFFF;
}

.feature__text {
  text-align: center;
  font-weight: 600;
}

/* -------------------------------
about
----------------------------- */
.about {
  margin-top: 160px;
  background: url(../img/bg.png) no-repeat center center/cover;
  color: #FFFFFF;
  font-weight: 600;
  padding: 124px 0;
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.12);
  top: 0;
  left: 0;
  z-index: 20;
}

@media screen and (max-width: 767px) {
  .about {
    margin-top: 96px;
    padding: 182px 0 55px;
    background-image: url(../img/SP/bg.png);
  }
}

.about__ttl {
  position: relative;
  font-size: 22px;
  z-index: 21;
}

@media screen and (max-width: 767px) {
  .about__ttl {
    font-size: 20px;
  }
}

.about__text {
  position: relative;
  margin-top: 40px;
  z-index: 21;
}

@media screen and (max-width: 767px) {
  .about__text {
    margin-top: 30px;
  }
}

/* -------------------------------
products
----------------------------- */
.products__inner {
  width: 940px;
}

.products__items {
  display: flex;
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .products__items {
    display: block;
    margin-top: 48px;
  }
}

.products-link {
  display: block;
}

.products__item {
  width: calc(33.333% - 80px * 2 / 3);
  max-width: 260px;
}

.products__item:not(:first-child) {
  margin-left: 80px;
}

@media screen and (max-width: 767px) {
  .products__item:not(:first-child) {
    margin-left: auto;
    margin-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .products__item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.products__item:hover .products__img img {
  transform: scale(1.1);
}

.products__img {
  width: 100%;
  overflow: hidden;
}

.products__img img {
  transition: all 0.3s ease 0s;
}

.products__content {
  width: 100%;
  padding-top: 24px;
  background-color: #FFFFFF;
}

.products__text {
  font-size: 14px;
  line-height: 14 / 24;
}

.products__price {
  margin-top: 14px;
  color: #989898;
  font-size: 14px;
}

/* -------------------------------
news
----------------------------- */
.news__inner {
  width: 1040px;
}

@media screen and (max-width: 767px) {
  .news__inner {
    padding: 0 32px;
  }
}

.news__items {
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .news__items {
    margin-top: 48px;
  }
}

.news-link {
  display: flex;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E0E0E0;
}

@media screen and (max-width: 767px) {
  .news-link {
    display: block;
  }
}

.news__item:first-child .news-link {
  padding-top: 0;
}

.news__item:hover .news__img img {
  transform: scale(1.1);
}

.news__img {
  flex: 0 0 260px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .news__img {
    width: 100%;
  }
}

.news__img img {
  transition: all 0.3s ease 0s;
}

.news__content {
  flex: 0 1 100%;
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .news__content {
    padding-left: 0;
    padding-top: 20px;
    width: 100%;
  }
}

.news-time {
  font-size: 14px;
}

.news__ttl {
  margin-top: 1.1vw;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .news__ttl {
    margin-top: 12px;
    font-size: 16px;
  }
}

.news__detail {
  margin-top: 1.7vw;
  color: #888888;
  line-height: 14 / 24;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .news__detail {
    margin-top: 20px;
  }
}

/* -------------------------------
password
----------------------------- */
.password {
  margin-top: 160px;
  margin-bottom: 225px;
}

@media screen and (max-width: 767px) {
  .password {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}

.password__inner {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .password__inner {
    display: block;
  }
}

.password__content {
  width: 50%;
  padding-right: 6vw;
}

@media screen and (max-width: 767px) {
  .password__content {
    width: 100%;
    padding-right: 0;
    margin-top: 40px;
  }
}

.password__ttl {
  font-size: 28px;
  font-weight: 600;
  line-height: 28 / 48;
}

@media screen and (max-width: 767px) {
  .password__ttl {
    font-size: 20px;
    line-height: 20 / 34;
  }
}

.password__text {
  margin-top: 3vw;
}

@media screen and (max-width: 767px) {
  .password__text {
    margin-top: 32px;
    font-size: 14px;
    line-height: 14 / 24;
  }
}

.password__img {
  width: 50%;
}

.password__img img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .password__img {
    width: 100%;
  }
}

/* -------------------------------
フォーム初期化
----------------------------- */
input[type="text"], input[type="email"], textarea {
  box-shadow: 5px 6px 15px #60606029;
  appearance: none;
  background-color: #fff;
  background-image: none;
  border: 0;
  border-radius: 2px;
  font-family: inherit;
  font-size: 16px;
  padding: .2em .5em;
  width: 100%;
}

input[type="text"], input[type="email"] {
  height: 40px;
}

textarea {
  min-height: 122px;
  resize: vertical;
}

/* -------------------------------
contact
----------------------------- */
.contact {
  padding-top: 70px;
  padding-bottom: 85px;
  background: url(../img/contact.png) no-repeat center center/cover;
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 57px 0;
  }
}

.contact__inner {
  width: 510px;
}

@media screen and (max-width: 767px) {
  .contact__inner {
    padding: 0 28px;
    width: auto;
    max-width: 510px;
  }
}

.contact__head {
  color: #3EA1D1;
}

.contact__form {
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  .contact__form {
    margin-top: 32px;
  }
}

.contact__attention {
  text-align: center;
  font-size: 14px;
  letter-spacing: .1em;
  margin-bottom: 20px;
}

.contact__attention span {
  color: #E7728E;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .contact__attention {
    margin-bottom: 0;
  }
}

.contact__form__dl:not(:first-child) {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .contact__form__dl {
    margin-top: 32px;
  }
}

.contact__form__row {
  display: flex;
}

@media screen and (max-width: 767px) {
  .contact__form__row {
    display: block;
  }
}

.contact__form__dt {
  flex: 0 1 100%;
  margin-right: 20px;
  height: 40px;
  background-color: #3EA1D1;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact__form__dt {
    display: inline-block;
    flex: none;
    height: 32px;
    margin-right: 0;
    padding-right: 25px;
    padding-left: 15px;
  }
}

.contact__form__dt::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
  border-style: solid;
  border-width: 20px 0 20px 10px;
  border-color: transparent transparent transparent #3EA1D1;
}

@media screen and (max-width: 767px) {
  .contact__form__dt::after {
    content: none;
  }
}

.contact__form__dt label {
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .contact__form__dt label {
    font-size: 14px;
    line-height: 32px;
  }
}

.contact__form__dd {
  flex: 0 0 320px;
}

@media screen and (max-width: 767px) {
  .contact__form__dd {
    margin-top: 3px;
    flex: none;
    width: 100%;
  }
}

/* -------------------------------
ラジオカスタマイズ
----------------------------- */
.contact__radio__wrap {
  display: inline-flex;
  border: 1px solid #FFFFFF;
  box-shadow: 5px 6px 15px #60606029;
  border-radius: 1px;
  background-color: #FFFFFF;
}

.contact__radio {
  position: relative;
}

.contact__radio__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact__radio__input:checked + .contact__radio__part {
  background-color: #3EA1D1;
  color: #FFFFFF;
}

.contact__radio__input:focus + .contact__radio__part {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact__radio__part {
  display: block;
  width: 80px;
  height: 40px;
  text-align: center;
  color: #3EA1D1;
  line-height: 38px;
  letter-spacing: .1em;
}

.contact-footer {
  margin-top: 33px;
}

@media screen and (max-width: 767px) {
  .contact-footer {
    margin-top: 24px;
  }
}

.contact-footer-text {
  text-align: center;
}

.contact-privacy {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-privacy-input:checked + .contact-privacy-check {
  background-color: transparent;
  width: 10px;
  border-top: 0;
  border-left: 0;
  border-width: 2px;
  transform: rotate(45deg);
  top: -5px;
  left: 5px;
}

.contact-privacy-input:focus + .contact-privacy-check {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact-privacy-input:checked:focus + .contact-privacy-check {
  outline: none;
}

.contact-privacy-check {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: solid 1px #3EA1D1;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-privacy-link {
  color: #3EA1D1;
  text-decoration: underline;
}

.submit-btn {
  appearance: none;
  background-image: none;
  border-radius: 0;
  cursor: pointer;
  margin: 50px auto 0;
  padding: 0.6em 2em;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 157px;
  padding: 10px 0;
  letter-spacing: .1em;
  background-color: #FFFFFF;
  border: 1px solid #3EA1D1;
  color: #3EA1D1;
  font-size: 14px;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .submit-btn {
    margin-top: 30px;
  }
}

.submit-btn:hover {
  outline: none;
}

.submit-btn:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

.submit-btn.-active {
  background-color: #3EA1D1;
  color: #FFFFFF;
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact-message.-error {
  color: red;
}

/* -------------------------------
footer
----------------------------- */
.footer {
  padding: 46px 0 15px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 40px;
  }
}

.footer-inner {
  text-align: center;
}

.footer-logo {
  width: 120px;
  margin: 0 auto;
}

.footer-items {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

@media screen and (max-width: 767px) {
  .footer-items {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .footer-item:first-child {
    margin-top: 24px;
    margin-right: 0;
  }
}

.footer-item:nth-child(2) {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .footer-item:nth-child(2) {
    margin-top: 14px;
    margin-left: 0;
  }
}

.footer-item-link {
  color: #333333;
  padding: .1em 0;
  transition: all 0.3s ease 0s;
}

.footer-item-link:hover {
  opacity: 0.7;
}

.footer-sns-items {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.footer-sns-item + .footer-sns-item {
  margin-left: 10px;
}

.footer-sns-link {
  font-size: 22px;
  color: #3EA1D1;
  padding: .1em .5em;
  transition: all 0.3s ease 0s;
}

.footer-sns-link:hover {
  opacity: 0.7;
}

.copyright {
  margin-top: 22px;
  color: #888888;
}

@media screen and (max-width: 767px) {
  .copyright {
    margin-top: 16px;
  }
}
